@media (min-width: 600px) {
    body {
        background-image: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
    }

    .container {
        background: #FFFFFF;
        padding: 32px;
        border-radius: 8px;
        min-height: 80vh;
    }
}

.acoes {
    width: 180px;
}

.alinhar-a-direita {
    float: right;
}

.modal-header,
.modal-footer {
    border: none;
}

.active {
    font-weight: 600;
}

#btn-sair {
    cursor: pointer;
}